<div class="container">
    <h3>Groodle</h3>
    <div class="row">
        <div class="col-md-5">
            <form #form="ngForm" (submit)="submitForm(form)" novalidate>
                
                <div class="form-group" [class.has-error]="firstName.invalid && firstName.dirty">
                    <label class="control-label">First Name</label>
                    <input #firstName="ngModel" required type="text" class="form-control" name="firstName" 
                    [(ngModel)]="model.firstName">
                    <div *ngIf="firstName.invalid && firstName.dirty" class="alert alert-danger">
                        First name is required.
                    </div>
                </div>

                <div class="form-group" [class.has-error]="lastName.invalid && lastName.dirty">
                    <label class="control-label">Last Name</label>
                    <input #lastName="ngModel" required type="text" class="form-control" name="lastName" 
                    [(ngModel)]="model.lastName">
                    <div *ngIf="lastName.invalid && lastName.dirty" class="alert alert-danger">
                        Last name is required.
                    </div>
                </div>
 
                <div class="form-group">
                    <label class="control-label">Concentration</label>
                    <select #concentration="ngModel" required class="form-control"
                            name="concentration"
                            [(ngModel)]="model.concentration">
                        <option *ngFor="let concentration of concentrations" [ngValue]="concentration">
                            {{ concentration }}
                        </option>    
                    </select>
                    <div *ngIf="concentration.invalid && concentration.touched" class="alert alert-danger">
                            Concentration is required.
                    </div>
                </div>

                <div class="form-group" [class.has-error]="hasCoursesTakenError">
                    <label class="control-label">Courses Taken</label>
                    <select #coursesTaken="ngModel" class="form-control" multiple
                            name="coursesTaken"
                            (blur)="validateCoursesTaken(coursesTaken.value)"
                            (change)="validateCoursesTaken(coursesTaken.value)"
                            [(ngModel)]="model.coursesTaken">
                        <option *ngFor="let course of courses" [ngValue]="course">
                            {{ course.courseId + ": " + course.courseTitle }}
                        </option>
                    </select>
                </div>

                <button class="btn btn-primary" type="submit"
                [disabled]="form.invalid">Submit</button>
            </form>
        </div>
        <div class="col-md-7">
            <div class="container">
                <div class="card" *ngFor="let course of model.coursesTaken">
                    <div class="card-header">{{ course.courseTitle }}</div>
                    <div class="card-body">
                        {{ course.courseDescription }}
                    </div>
                </div>
            </div>
            
            <!--
            Model: {{ model | json }}
            <br>
            Angular: {{ form.value | json }}
            -->
        </div>
    </div>
</div>

<div class="container">
    
    <div class="row" *ngIf="recommendation">
        <div class="col-md-12">
            <div class="card border-dark mb-3">
                <div class="card-header" style="background-color: #c8aeb1">Depth Recommendation: {{ recommendation.depthRecommendation.concentration }}</div>
                <div class="card-body text-dark">
                    <div *ngFor="let course of recommendation.depthRecommendation.recommendedCourses">
                        {{ course.courseId + ": " + course.courseTitle }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row" *ngIf="recommendation">
        <div class="col-md-12">
            <div class="card border-dark mb-3" *ngFor="let rec of recommendation.breadthRecommendations">
                <div class="card-header" style="background-color:lavender">Breath Recommendation: {{ rec.concentration }}</div>
                <div class="card-body text-dark">
                    <div *ngFor="let course of rec.recommendedCourses">
                        {{ course.courseId + ": " + course.courseTitle }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!--
    <div class="row" *ngIf="recommendation">
        <div class="col-md-12">
            <div class="card border-dark mb-3">
                <div class="card-header" style="background-color:skyblue">Breadth Recommendations: {{ recommendation.breadthRecommendations }}</div>
                <div class="card-body text-dark">
                    <div *ngFor="let course of recommendation.breadthRecommendations.concentration.recommendedCourses">
                        {{ course.courseId + ": " + course.courseTitle }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->

    <!--
    <div class="row" *ngIf="recommendation">
        <div class="container">
            <div class="card-columns">
                
                <div class="card border-dark mb-3" *ngFor="let rec of recommendation.breadthRecommendations">
                    <div class="card-header" style="background-color: lightgreen">Breadth Recommendation: {{ rec.concentration }}</div>
                        <div class="card-body text-dark">
                            <div *ngFor="let course of rec.recommendedCourses">
                                {{ course.courseId + ": " + course.courseTitle }}
                            </div>
                        </div>
                </div>            

            </div>
        </div>
    </div>
    -->

